# Ignore node_modules folder created when installing core's JavaScript
# dependencies.
node_modules
yarn-error.log

# Ignore yarn files
# @see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*

# Ignore overrides of core's phpcs.xml.dist and phpunit.xml.dist.
phpcs.xml
phpunit.xml

# Ignore package-lock.json that is automatically created when adding
# dependencies by users of NPMv5.
package-lock.json

# Ignore test reports
reports

# Ignore local Nightwatch settings
nightwatch.settings.json

# Ignore dotenv
.env

# Ignore CSpell cache
.cspellcache

# Ignore phpstan cache
phpstan-tmp

# Ignore eslint cache
.eslintcache

# Ignore stylelint cache
.stylelintcache

# Ignore phpcs cache
.phpcscache

# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore multi-site test environment.
sites/simpletest